# Define the project directory
export PROJECT_DIR=$(pwd)

# Define CMake command for Debug Linux build
export BUILD_LINUX_D="
cmake \
  -G 'Unix Makefiles' \
  -DCMAKE_VERBOSE_MAKEFILE=ON \
  -DCMAKE_C_COMPILER=clang \
  -DCMAKE_CXX_COMPILER=clang++ \
  -S $PROJECT_DIR \
  -B $PROJECT_DIR/builds/build-debug \
  -DCMAKE_BUILD_TYPE=Debug
"

# Define CMake command for Release Linux build
export BUILD_LINUX_R="
cmake \
  -G 'Unix Makefiles' \
  -DCMAKE_C_COMPILER=clang \
  -DCMAKE_CXX_COMPILER=clang++ \
  -S $PROJECT_DIR \
  -B $PROJECT_DIR/builds/build-release \
  -DCMAKE_BUILD_TYPE=Release
"

# Define CMake command for Debug Mac build
export BUILD_MAC="
cmake \
  -G 'Xcode' \
  -S $PROJECT_DIR \
  -B $PROJECT_DIR/builds/build-xcode \
  -DCMAKE_BUILD_TYPE=Debug
"
