{
	"name": "Ground_Tile",
	"components": {
		"1": {
			"type": "SpriteRenderer",
			"sprite": "grass_tile",
			"sorting_order": -999
		},
		"2": {
			"type": "Rigidbody",
			"body_type": "kinematic",
			"has_trigger": false
		}
	}
}
