{
	"name": "Leaf",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"has_collider": false,
			"has_trigger": false,
			"gravity_scale": 0
		},
		"2": {
			"type": "SpriteRenderer",
			"sprite": "leaf_left",
			"scale_x": 0.5,
			"scale_y": 0.25,
			"sorting_order": -99999
		}
	}
}
